
.row-top-buffer {

	margin-top: 20px;
}

.row-bottom-buffer {

	margin-bottom: 20px;
}

.iTracker-nav-logo {

	height: 45px;
    margin-top: -12px;
}

.comment-bubble {

    border-radius: 4px;
    padding-top: 10px;
	box-shadow: 0px 0px 1px #888888;
}

.clickable {

	cursor: pointer;
}

.separator {

	margin-top: 20px;
	margin-bottom: 10px;
	height: 1px;
	background-color: darkgrey;
}

.page-header {
	padding-bottom: 0px !important;
}

.linear-transition {

	transition: visibility 0s, opacity 0.2s linear;
}

.background-red {

	background-color: #FF8A8A !important;
}

.background-yellow {

	background-color: #F2F4B3 !important;	
}