{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{# Load static files #}
{% load staticfiles %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>iTracker</title>
        <meta name="description" content="">
        <meta name="author" content="Francesc Bisquerra">
        {% include "i_tracker/head-css.html" %}
        {{ TicketForm.media }}
    </head>

    <body>
        <div class="container">
        
            {% include "i_tracker/menu.html" %}

            {% block content %}{% endblock %}

            {% include "i_tracker/footer.html" %}

        </div> <!-- container -->

        <!-- scripts -->
        <!--script type="text/javascript" src="{% static 'js/moment-with-locales.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js'%}"></script-->
    </body>
</html>