{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{# Load static files #}
{% load staticfiles %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>iTracker</title>
        <link rel="shortcut icon" href="{% static 'images/itracker_icono.png' %}" />
        <meta name="description" content="">
        <meta name="author" content="Francesc Bisquerra">
        {% include "i_tracker/head-css.html" %}
        {{ TicketForm.media }}
    </head>

    <body>
        <div class="container-fluid">
        
            {% include "i_tracker/menu.html" %}


            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    {% block content %}{% endblock %}
                </div>
            </div>

            {% include "i_tracker/footer.html" %}

        </div> <!-- container -->

        <!-- scripts -->
    </body>
</html>