{% extends "i_tracker/base.html" %}
{% load bootstrap3 %}

{% load staticfiles %}

{% block content %}

<div class="row row-top-buffer">
	<div class="col-sm-8 text-center col-sm-offset-2">
		<div class="pull-left clickable">
			<h4> Comentarios anteriores </h4>
		</div>
	</div>
</div>

<div class="row row-top-buffer">
	<div class="col-sm-8 text-center col-sm-offset-2">
		{% for older_comment in older_comments %}

			<div class="row row-top-buffer row-bottom-buffer comment-bubble {% if older_comment.pk == comment.pk %} active {% endif %}">
				<div class="col-md-8">
					<p class="pull-left"><label>{{ older_comment.user }}:</label> {{ older_comment.description }}</p>
				</div>

				{% if older_comment.user.pk|stringformat:"s" == uid %}
				<div class="col-md-4">
					<div class="btn-group pull-right">
						<a class="btn btn-danger" href="{% url 'delete_comment' issue_pk older_comment.pk %}">
							<i class="fa fa-minus"></i>
						</a>
						<a class="btn btn-primary" href="{% url 'comment' issue_pk older_comment.pk %}"><i class="fa fa-edit"></i></a>
					</div>
				</div>
				{% endif %}
			</div>
		
		{% empty %}

			<div class="row-top-buffer row-bottom-buffer">
				<div class="col-md-12">
					<p>No hay commentarios para esta incidencia.</p>
				</div>
			</div>

		{% endfor %}	
	</div>
</div>

<div class="row row-top-buffer">
	<div class="col-sm-8 text-center col-sm-offset-2">
		<div class="pull-left clickable">
			<h4> Nuevo comentario </h4>
		</div>
	</div>
</div>

<div class="row row-top-buffer">
	<div class="col-sm-8 text-center col-sm-offset-2">

		<form method="post" action=""> {% csrf_token %}

		    {% bootstrap_form CommentForm %}

		    <div class="btn-group pull-right">
		    	
		    	<input class="btn btn-primary" type="submit" value="Guardar"/>
		    </div>	
		</form>

	</div>
</div>

{% endblock %}