{% extends "i_tracker/base.html" %}
{% load bootstrap3 %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="fade in {% if message.tags %}{{ message.tags }}{% endif %}">
      	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    	{{ message }}
    </div>
    {% endfor %}
{% endif %}


<div class="row">
	<div class="col-sm-12">
		<div id="CreatedIssuesLabel" class="page-header pull-left clickable">
			<h4> Incidencias creadas <small>Plegar/desplegar</small></h4>
		</div>
	</div>
</div>

<div id="CreatedIssues" class="row linear-transition">

	{% for issue in created_issues %}

	{% if issue.hidden == False%}

	<div class="col-sm-4">
		<div class="well {% if issue.escalated %} background-red {% else %} background-yellow {% endif %}">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-sm-12">
							<h3>{{issue.name}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<h5><b>· Creador:</b> {{issue.creator}}</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<h5><b>· Asignado a:</b> {{issue.user}}</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<p class="text-left">{{issue.description}}</p>
						</div>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="btn-group pull-right">		
						<a class="btn btn-primary" href="{% url 'issue' issue.id %}">Ver</a>				
					</div>
					
				</div>
			</div>
		</div>
	</div>

	{% endif %}
	{% endfor %}
	
</div>

<div class="row">
	<div class="col-sm-12">
		<div id="AsignedIssuesLabel" class="page-header pull-left clickable">
			<h4> Incidencias asignadas <small>Plegar/desplegar</small></h4>
		</div>
	</div>
</div>

<div id="AssignedIssues" class="row linear-transition">

	{% for issue in issues %}

	{% if issue.hidden == False %}

	<div class="col-sm-4">
		<div class="well {% if issue.escalated %} background-red {% else %} background-yellow  {% endif %}">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-sm-12">
							<h3>{{issue.name}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<h5><b>· Creador:</b> {{issue.creator}}</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<h5><b>· Asignado a:</b> {{issue.user}}</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<p class="text-left">{{issue.description}}</p>
						</div>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="btn-group pull-right">
						<a class="btn btn-primary" href="{% url 'issue' issue.id %}">Ver</a>				
					</div>
					
				</div>
			</div>
		</div>
	</div>

	{% endif %}

	{% endfor %}

</div>

{% if user.is_superuser %}
<div class="row">
	<div class="col-sm-12">
		<div id="EscalatedIssuesLabel" class="page-header pull-left clickable">
			<h4> Incidencias escaladas <small>Plegar/desplegar</small></h4>
		</div>
	</div>
</div>

<div id="EscalatedIssues" class="row linear-transition">

	{% for issue in escalated_issues %}

	{% if issue.hidden == False %}

	<div class="col-sm-4">
		<div class="well {% if issue.escalated %} background-red {% else %} background-yellow  {% endif %}">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-sm-12">
							<h3>{{issue.name}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<h5><b>· Creador:</b> {{issue.creator}}</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<h5><b>· Asignado a:</b> {{issue.user}}</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<p class="text-left">{{issue.description}}</p>
						</div>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="btn-group pull-right">
						<a class="btn btn-primary" href="{% url 'issue' issue.id %}">Ver</a>				
					</div>
					
				</div>
			</div>
		</div>
	</div>

	{% endif %}

	{% endfor %}

</div>

{% endif %}

{% if issues or created_issues %}

<div id="deleteIssueModal" class="modal fade" tabindex="-1" role="dialog" >
  	<div class="modal-dialog modal-md">
	    <div class="modal-content">
	    	<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
			    </button>
			    <h4 class="modal-title" id="gridSystemModalLabel">
			    	<!--¿Esta seguro de que quiere eliminar la incidencia {{issue.id}}?-->
			    </h4>
	  		</div>
	  		<div class="modal-body">
	  			<div class="row">
	  				<div class="col-sm-12">
		  				<div class="btn-group pull-right">
							<!--a class="btn btn-danger">Eliminar</a-->
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteIssueModal">
								Cancelar
							</button>
						</div>
 					</div>	
	 			</div>
			</div>
    	</div>
  	</div>
</div>

{% endif %}

<script type="text/javascript">

	$(document).ready (function(){
        $('#CreatedIssuesLabel').click(function(e) {

	      $('#CreatedIssues').toggle("slow", function () {
	        // animation complete
	        $('html, body').animate({
		        scrollTop: $("#CreatedIssues").offset().top
		    }, 500);
	      });
	    });

	    $('#AsignedIssuesLabel').click(function(e) {

	      $('#AssignedIssues').toggle("slow", function () {
	        // animation complete
	        $('html, body').animate({
		        scrollTop: $("#AssignedIssues").offset().top
		    }, 500);
	      });
	    });

	    $('#EscalatedIssuesLabel').click(function(e) {

	      $('#EscalatedIssues').toggle("slow", function () {
	        // animation complete
	        $('html, body').animate({
		        scrollTop: $("#EscalatedIssues").offset().top
		    }, 500);
	      });
	    });      
	});

</script>

{% endblock%}