{% extends "i_tracker/base.html" %}
{% load bootstrap3 %}

{% block content %}


<div class="row row-top-buffer">
	<div class="col-sm-12">
		<div class="page-header pull-left clickable">
			<h4> Incidencias creadas </h4>
		</div>
	</div>
</div>

<div class="row">

	{% for issue in created_issues %}

	<div class="col-sm-4">
		<div class="well">
			<div class="row">
				<div class="col-md-12">
					<ul class="list-unstyled">
						<li>
							<label class="label label-default label-lg">{{issue.name}}</label>		
						</li>
						<li>
							<label>Creador:</label>
							{{issue.creator}}
						</li>
						<li>
							<label>Asignado a:</label>
							{{issue.user}}
						</li>
						<li>
							<p>{{issue.description}}</p>
						</li>
					</ul>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="btn-group pull-right">
						<!--href="{% url 'delete_issue' issue.id %}-->
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteIssueModal">
						Eliminar
						</button>
						<script type="text/javascript">
						</script>			
						<a class="btn btn-primary" href="{% url 'issue' issue.id %}">Ver</a>				
					</div>
					
				</div>
			</div>
		</div>
	</div>

	{% endfor %}

</div>

<div class="row row-top-buffer">
	<div class="col-sm-12">
		<div class="page-header pull-left clickable">
			<h4> Incidencias asignadas </h4>
		</div>
	</div>
</div>

<div class="row">

	{% for issue in issues %}

	<div class="col-sm-4">
		<div class="well">
			<div class="row">
				<div class="col-md-12">
					<ul class="list-unstyled">
						<li>
							<label class="label label-default label-lg">{{issue.name}}</label>		
						</li>
						<li>
							<label>Creador:</label>
							{{issue.creator}}
						</li>
						<li>
							<label>Asignado a:</label>
							{{issue.user}}
						</li>
						<li>
							<p>{{issue.description}}</p>
						</li>
					</ul>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="btn-group pull-right">
						<a class="btn btn-danger" href="{% url 'delete_issue' issue.id %}">Eliminar</a>			
						<a class="btn btn-primary" href="{% url 'issue' issue.id %}">Ver</a>				
					</div>
					
				</div>
			</div>
		</div>
	</div>

	{% endfor %}

</div>

{% if issues or created_issues %}

<div id="deleteIssueModal" class="modal fade" tabindex="-1" role="dialog" >
  	<div class="modal-dialog modal-md">
	    <div class="modal-content">
	    	<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
			    </button>
			    <h4 class="modal-title" id="gridSystemModalLabel">
			    	<!--¿Esta seguro de que quiere eliminar la incidencia {{issue.id}}?-->
			    </h4>
	  		</div>
	  		<div class="modal-body">
	  			<div class="row">
	  				<div class="col-sm-12">
		  				<div class="btn-group pull-right">
							<!--a class="btn btn-danger">Eliminar</a-->
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteIssueModal">
								Cancelar
							</button>
						</div>
 					</div>	
	 			</div>
			</div>
    	</div>
  	</div>
</div>

{% endif %}

{% endblock%}