{% load staticfiles %}

{% if user.is_authenticated %}

<nav class="navbar navbar-default row-top-buffer">
  <div class="">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">
        <img class="iTracker-nav-logo" src="{% static 'images/iTracker_logo.png' %}">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
          <a href="{% url 'home' %}">
            <i class="fa fa-home fa-lg"></i>
              &nbsp; Home
          </a>
        </li>
        <li class="{% if request.resolver_match.url_name == 'home_table' %}active{% endif %}">
          <a href="{% url 'home_table' %}">
            <i class="fa fa-table fa-lg"></i>
              &nbsp; Vista de tabla
          </a>
        </li>
        <li class="{% if request.resolver_match.url_name == 'issue' and issue == None %}active{% endif %}">
          <a href="{% url 'issue' %}">
            <i class="fa fa-plus fa-lg"></i>
              &nbsp; Nueva incidencia
          </a>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user fa-lg"></i>&nbsp; {{ user }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-gear fa-lg fa-spin"></i>&nbsp; Configuración</a></li>
            <li><a href="#"><i class="fa fa-language fa-lg"></i>&nbsp; Idioma</a></li>
            {% if user.is_superuser %}
              <li><a href="{% url 'admin:index' %}"><i class="fa fa-gears fa-lg"></i>&nbsp; Admin</a></li>
            {% endif %}
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-lg"></i>&nbsp; Salir</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% endif %}